@import "colors.scss";


* {
    font-family: 'Mukta', sans-serif;

    a {
        text-decoration: none;
        color: whitesmoke;
        cursor: pointer;

        &:hover {
            color: gray;
        }
    }
}

.df {display: flex;}

main {
    margin-top: 24px;
}